body {
  background-color: rgb(66, 64, 64);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
}

header {
  background: linear-gradient(to bottom, #000000be, #000000c0);  
  min-height: 155px;
  text-align: center;
  padding-top: 47px;
}

nav {
  background-color: #000000bd;
  padding: 10px;
  box-shadow: 0px 7px 7px #1d1d1dbd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav .logo img {
  height: 40px; /* Ajuste o tamanho conforme necessário */
}

nav .menu-items {
  display: flex;
  gap: 20px;
}

nav .menu-items a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav .menu-items a:hover {
  background-color: #3a3a3a;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-bg video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.calendar {
  background-color: #464242b0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.calendar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.calendar p {
  font-size: 18px;
  margin: 10px 0;
}

.highlight {
  font-weight: bold;
  color: #007bff;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  
}

.address {
  margin-top: 20px;
}

.address p {
  margin: 5px 0;
}

.contact {
  background-color: #464242b0;
}

.Insta {
  color: white;
}

.instagram-link {
  
  color: white;
  text-decoration: none; /* Opcional: quita el subrayado del enlace */
}

.instagram-link:hover {
  color: #cccccc; /* Opcional: cambia el color al pasar el ratón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav .menu-items {
    
    flex-direction: column;
    gap: 10px;
  }

  .contact-info {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 

  .info-item {
    padding: 10px;
    background-color: #464242b0;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  header {
    padding-top: 30px;
  }

  header h1 {
    font-size: 1.5em;
  }

  nav .menu-items a {
    padding: 10px;
    font-size: 0.9em;
  }

  .video-bg video {
    height: 200px;
  }

  .map-container iframe {
    height: 200px;
  }
}
